body {
  font-family: 'Source Code Pro', monospace;
}

a {
  color: #bf2044;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a>svg {
  height: 1.5em;
  width: 1.5em;
  fill: #000000;
  transition: 300ms;
}

a>svg:hover {
  fill: currentColor;
  transition: 300ms;
}
